
<div class="container" id="admin-page">

    <%- partial ('menu-side.ejs') %>


  <div class="main-content">

    <div class="detail-content container" id="dashboard-page">
      <div class="white-box">

        <% if (req.user.group == 1) {%>
        <div class="row">
          <div class="col-sm-3">
            <a href="/acp/order">
            <div class="media">
              <div class="media-left media-middle">
                <img src="/images/order-icon.png" class="media-object">
              </div>
              <div class="media-body" style="text-align: center">
                <h2 class="media-heading"><%= countOrder %></h2>
                <p>Orders</p>
              </div>
            </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="/acp/product">
            <div class="media media-manager">
              <div class="media-left media-middle">
                <img src="/images/product-icon.png" class="media-object">
              </div>
              <div class="media-body" style="text-align: center">
                <h2 class="media-heading"><%= countProduct %></h2>
                <p>Products</p>
              </div>
            </div>
            </a>
          </div>

          <div class="col-sm-3">
            <a href="/acp/store">
            <div class="media media-manager">
              <div class="media-left media-middle">
                <img src="/images/store-icon.png" class="media-object">
              </div>
              <div class="media-body" style="text-align: center">
                <h2 class="media-heading"><%= countStore %></h2>
                <p>Stores</p>
              </div>
            </div>
            </a>
          </div>

          <div class="col-sm-3">
            <a href="/acp/user">
            <div class="media media-manager">
              <div class="media-left media-middle">
                <img src="/images/user-icon.png" class="media-object">
              </div>
              <div class="media-body" style="text-align: center">
                <h2 class="media-heading"><%= countUser %></h2>
                <p>Users</p>
              </div>
            </div>
            </a>
          </div>
        </div>
        <% } else { %>
        <div class="row">
          <div class="col-sm-4">
            <a href="/acp/order">
              <div class="media">
                <div class="media-left media-middle">
                  <img src="/images/order-icon.png" class="media-object">
                </div>
                <div class="media-body" style="text-align: center">
                  <h2 class="media-heading"><%= countOrder %></h2>
                  <p>Orders</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/acp/product">
              <div class="media media-manager">
                <div class="media-left media-middle">
                  <img src="/images/product-icon.png" class="media-object">
                </div>
                <div class="media-body" style="text-align: center">
                  <h2 class="media-heading"><%= countProduct %></h2>
                  <p>Products</p>
                </div>
              </div>
            </a>
          </div>


          <div class="col-sm-4">
            <a href="/acp/user">
              <div class="media media-manager">
                <div class="media-left media-middle">
                  <img src="/images/user-icon.png" class="media-object">
                </div>
                <div class="media-body" style="text-align: center">
                  <h2 class="media-heading"><%= countUser %></h2>
                  <p>Users</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% } %>
      </div>
      <div class="white-box">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Order</th>
            <th scope="col">Total</th>
            <th scope="col">Money</th>
          </tr>
          </thead>
          <tbody>
          <% _.each(reportOrder,function(order){%>
            <tr>
              <th scope="row"><%= order.user %></th>
              <td style="font-size:18px"><%= order.order %></td>
              <td style="font-size:18px;color:#0088cc"><%= order.total %></td>
              <td style="font-size:20px;color:#7ebe00">$<%= order.money %></td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>


      <div class="chart-container" style="position: relative;">
      <canvas style="background:#fff" id="myChart" height="100"></canvas>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
      <script>

        socket.get('/order/get_chart?position=acp',function(data){
          console.log('data', data);
          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              datasets: [{
                label: 'Total Money',
//              backgroundColor: 'rgb(255, 87, 34)',
                borderColor: 'rgb(255, 87, 34)',
                data: data.dataPrice,
                yAxisID: 'y-axis-1',
                // Changes this dataset to become a line
                type: 'line'
              },
                {
                label: 'Total Order',
                backgroundColor: 'rgba(0, 168, 251, 0.47843137254901963)',
                borderColor: 'rgb(3, 169, 244)',
                data: data.dataCount,
                  yAxisID: 'y-axis-2',
              },

                {
                  label: 'Total Product',
//              backgroundColor: 'rgb(139, 195, 74)',
                  borderColor: 'rgb(139, 195, 74)',
                  data: data.dataProduct,
                  // Changes this dataset to become a line
                  type: 'line'
                }],
              labels: data.dataDate
            },
            options: {
              title: {
                display: true,
              },
              tooltips: {
                mode: 'index',
                intersect: false,
              },
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero:true
                  }
                },
                  {
                    position: 'right',
                    id: 'y-axis-1',
                  },
                  {
                    position: 'left',
                    display:false,
                    id: 'y-axis-2',

                    // grid line settings
                    gridLines: {
                      drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                  }]
              }
            }
          });
        })


//        myChart.canvas.parentNode.style.height = '328px';
      </script>


    </div>





  </div>
</div>

